<?xml version="1.0"?>
<!--
/**
* This source file is subject to the Academic Free License (AFL 3.0)
* that is bundled with this package in the file LICENSE_AFL.txt.
* It is also available through the world-wide-web at this URL:
* http://opensource.org/licenses/afl-3.0.php
*
* @category    Magemaven
* @package     Magemaven_OrderComment
* @copyright   Copyright (c) 2011-2012 Sergey Storchay <r8@r8.com.ua>
* @license     http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
*/
-->
<config>
    <modules>
        <Magemaven_OrderComment>
            <version>1.0.5.0</version>
        </Magemaven_OrderComment>
    </modules>
    <global>
        <models>
            <ordercomment>
                <class>Magemaven_OrderComment_Model</class>
                <resourceModel>ordercomment_resource</resourceModel>
            </ordercomment>
            <ordercomment_resource>
                <class>Magemaven_OrderComment_Model_Resource</class>
                <deprecatedNode>ordercomment_mysql4</deprecatedNode>
            </ordercomment_resource>
            <sales_resource>
                <rewrite>
                    <order_grid_collection>Magemaven_OrderComment_Model_Mysql4_Order_Grid_Collection</order_grid_collection>
                </rewrite>
            </sales_resource>
        </models>
        <helpers>
            <ordercomment>
                <class>Magemaven_OrderComment_Helper</class>
            </ordercomment>
        </helpers>
        <blocks>
            <ordercomment>
                <class>Magemaven_OrderComment_Block</class>
            </ordercomment>
            <checkout>
                <rewrite>
                    <agreements>Magemaven_OrderComment_Block_Checkout_Agreements</agreements>
                </rewrite>
            </checkout>
            <adminhtml>
                <rewrite>
                    <sales_order_grid>Magemaven_OrderComment_Block_Adminhtml_Sales_Order_Grid</sales_order_grid>
                </rewrite>
            </adminhtml>
        </blocks>
    </global>
    <frontend>
        <events>
            <checkout_type_onepage_save_order>
                <observers>
                    <saveCustomerComment>
                        <class>Magemaven_OrderComment_Model_Observer</class>
                        <method>saveOrderComment</method>
                    </saveCustomerComment>
                </observers>
            </checkout_type_onepage_save_order>
            <checkout_type_multishipping_create_orders_single>
                <observers>
                    <saveCustomerComment>
                        <class>Magemaven_OrderComment_Model_Observer</class>
                        <method>saveOrderComment</method>
                    </saveCustomerComment>
                </observers>
            </checkout_type_multishipping_create_orders_single>
            <sales_order_status_history_save_before>
                <observers>
                    <setOrderCommentVisibility>
                        <class>Magemaven_OrderComment_Model_Observer</class>
                        <method>setOrderCommentVisibility</method>
                    </setOrderCommentVisibility>
                </observers>
            </sales_order_status_history_save_before>
        </events>
    </frontend>
</config>
