<?xml version="1.0"?>
<config>
    <modules>
        <R8_OrderComment>
            <version>0.0.0.1</version>
        </R8_OrderComment>
    </modules>
    <global>
        <models>
            <ordercomment>
                <class>R8_OrderComment_Model</class>
            </ordercomment>
        </models>
        <helpers>
            <ordercomment>
                <class>R8_OrderComment_Helper</class>
            </ordercomment>
        </helpers>
        <blocks>
            <ordercomment>
                <class>R8_OrderComment_Block</class>
            </ordercomment>
            <checkout>
                <rewrite>
                    <agreements>R8_OrderComment_Block_Checkout_Agreements</agreements>
                </rewrite>
            </checkout>
        </blocks>
    </global>
    <frontend>
        <events>
            <checkout_type_onepage_save_order>
                <observers>
                    <saveCustomerComment>
                        <class>R8_OrderComment_Model_Observer</class>
                        <method>saveOrderComment</method>
                    </saveCustomerComment>
                </observers>
            </checkout_type_onepage_save_order>
            <checkout_type_multishipping_create_orders_single>
                <observers>
                    <saveCustomerComment>
                        <class>R8_OrderComment_Model_Observer</class>
                        <method>saveOrderComment</method>
                    </saveCustomerComment>
                </observers>
            </checkout_type_multishipping_create_orders_single>
        </events>
    </frontend>
</config>
