<?xml version="1.0"?>
<config>
    <modules>
        <R8_OrderComment>
            <version>0.0.0.1</version>
        </R8_OrderComment>
    </modules>

    <global>
        <helpers>
            <ordercomment>
                <class>R8_OrderComment_Helper</class>
            </ordercomment>
        </helpers>

        <resources>
            <ordercomment_setup>
                <setup>
                    <module>R8_OrderComment</module>
                    <class>Mage_Sales_Model_Resource_Setup</class>
                </setup>
            </ordercomment_setup>
        </resources>
        <blocks>
            <ordercomment>
                <class>R8_OrderComment_Block</class>
            </ordercomment>
        </blocks>
    </global>

    <frontend>
        <layout>
            <updates>
                <ordercomment>
                    <file>ordercomment.xml</file>
                </ordercomment>
            </updates>
        </layout>
    </frontend>

    <adminhtml>
        <layout>
            <updates>
                <ordercomment>
                    <file>ordercomment.xml</file>
                </ordercomment>
            </updates>
        </layout>
    </adminhtml>
</config>
